/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-main-color: #000028;
  --main-text-color: #f1b2ce;
  --subtitle-text-color:var(--bg-main-color);
  --bg-subtitle-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --header-text-color: #db00ff;
  --title-main-color: var(--bg-title-color);
  --main-title-color: var(--bg-subtitle-color);
  --text-shadow: var(--bg-subtitle-color);
  --button-color: var(--bg-subtitle-color);
  --hover-color:rgba(255, 0, 112, 0.4);
  --rec-color: var(--bg-subtitle-color);
}

@media (prefers-color-scheme: dark) {
  :root {
  --bg-main-color: #000028;
  --main-text-color: #f1b2ce;
  --subtitle-text-color:var(--bg-main-color);
  --bg-subtitle-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --header-text-color: #db00ff;
  --title-main-color: var(--bg-title-color);
  --main-title-color: var(--bg-subtitle-color);
  --text-shadow: var(--bg-subtitle-color);
  --button-color: var(--bg-subtitle-color);
  --hover-color:rgba(255, 0, 112, 0.4);
  --rec-color: var(--bg-subtitle-color);
    }
}
