/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-main-color:  #fff1f7;
  --main-text-color: #353430;
  --subtitle-text-color:var(--main-text-color);
  --bg-subtitle-color: #ff8dcb;;
  --bg-image: url(../images/cover-image-light.png);
  --header-text-color: #ffc2e6;
  --main-title-color: var(--main-text-color);
  --text-shadow: #ff0070;
  --button-color: var(--main-text-color);
  --hover-color:rgba(50, 49, 45, 0.4);
  --rec-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-main-color:  #fff1f7;
    --main-text-color: #353430;
    --subtitle-text-color:var(--main-text-color);
    --bg-subtitle-color: #ff8dcb;;
    --bg-image: url(../images/cover-image-light.png);
    --header-text-color: #ffc2e6;
    --main-title-color: var(--main-text-color);
    --text-shadow: #ff0070;
    --button-color: var(--main-text-color);
    --hover-color:rgba(50, 49, 45, 0.4);
    --rec-color: #fff1f7;;
    }
}